[Desktop Entry]
Name=HyprGUI
Comment=GUI for configuring Hyprland, written in Rust.
Exec=/usr/bin/hyprgui
Icon=hyprgui
Type=Application
Terminal=false
Categories=Utility;
